body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    .center {
        text-align: center;
    }

    .container {
        margin: 3em auto;
        width: 80vw;
    }

    .danger {
        color: red;
    }
}
