form {
    width: 50%;
    margin: auto;

    .form-actions {
        text-align: right;

        button {
            background-color: #33c1c7;
            border: none;
            border-radius: 8px;
            color: white;
            font-size: 1.2em;
            margin: 0 1em;
            padding: 8px 16px;

            &.form-valid {
                background-color: green;
            }

            &.form-invalid {
                background-color: red;
            }
        }
    }

    .input-field {
        margin-bottom: 1em;
        padding-bottom: 1.4em;
        position: relative;

        label {
            color: #b5b5b5;
            display: block;
        }

        input {
            font-size: 1.3em;
            width: 100%;
            border: none;
            border-bottom: 1px solid;

            &.with-error {
                border-bottom: 1px solid #cc0000;

                &:focus {
                    border-bottom: 1px solid red;
                    box-shadow: 0 1px 0 0 red;  
                }
            }

            &:focus {
                border-bottom: 1px solid #33c1c7;
                box-shadow: 0 1px 0 0 #33c1c7;
                outline: none;
            }
        }

        .error {
            bottom: 0;
            font-size: .9em;
            position: absolute;
        }
    }    
}
