nav {
    background-color: #33c1c7;
    text-align: right;

    ul {
        margin: 0;
        padding: 16px 10px;

        li {
            display: inline-block;

            a {
                color: white;
                margin: 0 8px;
                padding: 6px 10px;
                text-decoration: none;

                &.active {
                    border-bottom: 2px solid #fff;
                }
            }
        }
    }
}
